<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
  <unity>
    <containers>
      <!--  一级机构设置 (config_file_first_kind)  -->
      <container name="containerOne">
        <register type="IBLL.config_file_first_kind_IBLL,IBLL" mapTo="BLL.config_file_first_kind_BLL,BLL" name="config_file_first_kind_BLL"></register>
      </container>
    </containers>
  </unity>
</configuration>